:root {
    --color-dark: #1E2832;
    // --color-dark-alt: #292A32;
    --color-light: #FFFFFF;
    --color-accent: #3DB66D;
    --color-accent-gray: #EFF6F2;
    // --color-gray-alt: #898989;
  
    --border: 1px solid var(--color-accent);
    --border-radius: 20px;
    --border-radius-small: 7px;
    --border-radius-large: 40px;
  
    --shadow: 0 5px 0 0 var(--color-dark);
  
    --font-family-base: "Inter", sans-serif;
  
    --container-width: 1420px;
    --container-padding-x: 20px;
  
    --section-padding-y: 70px;
  
    --input-height: 59px;
    --button-height: 68px;
  
    --transition-duration: 0.2s;
     
  }