.uslugi {
    &__list {
        @extend .d-flex;
        row-gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item{
        @extend .d-flex;
        flex-direction: column;
        gap: 10px;
        max-width: 265px;
        text-align: center;
        h3{
            margin: 0;
        }
    }
}