.header {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-center;
    padding-block: 25px;

    &__address {
        @extend .d-flex;
        @extend .justify-content-between;
        @extend .align-items-center;
    }

    &__location {
        @extend .d-flex;
        @extend .align-items-center;
        flex-basis: 230px;
        gap: 10px;

    }

    &__location-icon {
        @include flex-center;
        flex-basis: 2.3em;
        flex-shrink: 0;
        color: var(--color-accent);
        width: 2.3em;
        height: 1.8em;
        font-size: 20px;
        clip-path: polygon(10px 0%, 100% 0%, calc(100% - 10px) 100%, 0% 100%);
        background-color: rgba(61, 182, 109, 0.2);
    }

    &__phone {
        text-align: right;
        font-size: 14px;
        &-link {
            font-size: 1.45em;
            font-weight: 700;
            display: inline-block;
            transition-duration: var(--transition-duration);
        &:hover{
            color: var(--color-accent);
            scale: 1.2;
        }
          }
    }

    &__btn {
        font-size: 14px;
    }
}